<%= render 'shared/error_messages', :object => f.object %>

<div class="form-group">
  <%= f.label "Rating (1-5)"%>
  <%= f.text_field :value, :class => "form-control"%>
</div>

<div class="form-group">
  <%= f.label "Feedback" %>
  <%= f.text_field :rating_text, :class => "form-control"%>
</div>

<%= f.hidden_field :target_type, :value => @object.target_type %>
<%= f.hidden_field :target_id, :value => @object.target_id %>